
 .header{
    display: flex;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
} 
 .logo{
    width: 150px;
    /* height: 100px; */
}
.body{
    max-width: 1200px;
    margin: 0 auto;
}
.nav-items ul{
    display:flex;
    font-size: 20px;
}
.nav-items ul li{
    padding: 10px;
    margin: 10px;
    list-style: none;
} 


.res-container{
    display: flex;
    flex-wrap: wrap;
}


.res-card{
    width: 240px;
    margin: 10px;
    border-radius: 10px;
    /* background-color: #f0f0f0; */
    padding: 10px;
    transition: 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /* font-family: serif; */
}

.res-card:hover{
    transform: scale(1.04);
    /* box-shadow: 2px 4px 4px rgba(1, 1, 1, 0.3); */
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.res-card h3{
    margin-top: 10px;
}

.res-card p,h3{
    margin: 0;
    padding: 3px;
}
.res-card p,h3{
    line-height: 1.5em;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.res-card p{
    color: rgb(61, 64, 81);
    font-size: 14px;
}


.search{
    padding: 10px;
}


.res-logo{
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.filter-btn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.Shimmer-container{
    display:flex;
    flex-wrap: wrap;
}

.Shimmer-card{
    width: 240px;
    height: 300px;
    margin: 10px;
    background-color: #f0f0f0;
    padding: 10px;
}

.login{
    padding: 0 10px;
    margin: 10px;
    cursor: pointer;
}

.filter{
    padding: 5px 0px;
    display: flex;
    gap: 10px;
}

.search{
    gap: 10px;
    display: flex;
}

.search-box{
    padding: 5px 15px;
    border: 0.5px solid #ccc;
    min-width: 400px;
    border-radius: 20px;
    font-size: 15px;
}

.filter button{
    border-radius: 7px;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer; 
}

.filter button:hover{
    opacity: 0.8;
    color:white;
    background-color: black;
}

a{
    color:black;
    text-decoration: none;
}

.container{
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding-top: 20px;
    margin-bottom: 10px;
}

.restaurant-details{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.details{
    line-height: 0.4;
    font-size: 0.9rem;
    color: #7e808c;
}
.details #name{
    font-weight: 600;
    font-size:1.2rem;
    color: black;
}
.details #cost{
    font-weight: bold;
}


#rating{
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    max-width: 100px;
    float: right;
    color: green;
}

hr{
    border:none;
    border-bottom: 1px dashed #d3d3d3;
}

#cost{
    font-weight: bold;
}



.main button{
    background-color: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    color: #3e4152;
    font-weight: 800;   
}


.recommended .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3e4152;
}

.recommended .divider{
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    margin: 20px 0;
}

.rating{
    font-size: 16px;
}
.rating #icon::before{
    padding: 5px;
}
.rating span{
    color: green;
}


.user-card{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
